body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
}

nav a:hover,
nav div:hover {
  background-color: #555;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header img {
  width: 200px;

}

nav {
  background-color: #666;
  text-align: right; /* derech */
  position: relative;
}

nav a {
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
}

nav div {
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}

section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 15px;
  width: 300px;
  transition: transform 0.3s;
}

article:hover {
  transform: translateY(-5px);
}

article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

article h2 {
  color: #333;
  margin: 10px;
}

article p {
  color: #666;
  margin: 10px;
}

article a {
  display: block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

article a:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: auto;
  /*FIJAR EL PIE DE PAGINA ABAJO */
}

.producto-card {
  width: 450px; 
  height: 350px;
  border: 1px solid #ddd; 
  border-radius: 15px; /*redondo*/
  overflow: hidden; 
  margin-bottom: 20px; /* espacio entre anuncios */
  transition: transform 0.3s; /*zoom suave*/
}

.foto-producto {
  width: 100%; 
}

.foto-producto img {
  width: 100%; 
  height: auto; 
}

.info-producto {
  padding: 15px;
  /* box-sizing: border-box; */
}

.info-producto h5,
.info-producto p {
  margin: 0; /* Elimina el margen para evitar espacios no deseados */
}

.producto-card:hover {
  transform: scale(1.05); /* zoom */
}



.foto-producto {
  max-width: 100%; 
  overflow: hidden; 
}

.foto-producto img {
  width: 300px; 
  height: 300px; 
}

.usuario-menu {
  display: inline-block;
  position: relative; 
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #666;
  z-index: 1;
}

.usuario-menu:hover .submenu {
  display: block;
}

.submenu a {
  color: black; 
  padding: 12px;
  text-decoration: none;
  display: block;
}

.submenu a:hover {
  background-color: #ddd; 
}


.menunormal{
  align-items:self-start;
}

.redes-sociales {
    margin-top: 10px;
}

.icono-red-social {
    display: inline-block;
    margin-right: 10px;
}

.icono-red-social img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}


